header {
    min-height: 240px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
    background-size: cover;
    transition: all 250ms ease-in-out;
background-image: url("http://johnr1.sgedu.site/wp/wp-content/uploads/2019/04/boardwalk.jpg");
    	
    background-position: 55.36% 64.15%; 
}
Header h2 {
	color: white;
}
nav li a {
    transition: all .5s ease-in-out;
    transition-property: background-color, color;
}
.wp-block-cover:hover {
transition: all .5s ease-in-out;	  transition-property: opacity;
    opacity: .9;
}
.cd-accordion__input { 
  position: absolute;
  opacity: 0;
}
.cd-accordion__label {
  position: relative;
  display: flex;
  align-items: center;
  padding: var(--space-sm) var(--space-md);
  background: var(--cd-color-1);
  box-shadow: inset 0 -1px lightness(var(--cd-color-1), 1.2);
  color: var(--color-white);
}
.cd-accordion__input { 
  position: absolute;
  opacity: 0;
}
.cd-accordion__label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  color: white;
}
.cd-accordion__sub_off {
  display: none; 
}

.cd-accordion__input:checked ~ .cd-accordion__sub { 
  display: block;
}
.accordion {
  background-color: gray;
  color: black;
  cursor: pointer;
	float: left;
  width: 32%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-right: 20px;
	  margin-bottom: 5px;
}

.accordion ul {
    list-style: none;
	    margin-left: -30px;
}
.cd-accordion__sub li {
    display: block;
    letter-spacing: 0.05em;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}
.cd-accordion__sub li a {
    display: block;
    text-decoration: none;
    font-size: 14px;
    transition: all .5s ease-in-out;
    transition-property: background-color, color; 
    margin-right: 20px;
    padding: 2px;
	  margin-left: 8px;
    /* transition in color and background-color while border changes immediately */
}
.accordion .cd-accordion__item--has-no-children a,.accordion .cd-accordion__item--has-children {
    font-size: 16px;
    margin-right: 20px;
    padding-left: 2px;
    padding-bottom: 5px;
}
.accordion a:link,
.accordion a:visited,
.accordion a:hover,
.accordion a:active {
    text-decoration: none;
    color: #ffffff;
    border: solid transparent;
}
.accordion a:hover {
    color: firebrick;
    border-color: white;
    background-color: white; 
	}
.accordion li a.activePage,
.accordion li a.activePage:link,
.accordion li a.activePage:visited,
.accordion li a.activePage:hover {
    color: firebrick;
    border-color: white;
    background-color: white;
}

iframe {
	margin-left: 0px;
  width: 560px;
	height: 420px;
}

.lessonUnit {
  margin-left: 34%;
  margin-right: 15.5%;
	font-weight: bold;
}
.quizUnit {
  margin-left: 34%;
  margin-right: 5.5%;
	font-weight: bold;
}

.google {
    margin-left: -150px;
}
#hdq_11.hdq_quiz_wrapper {
	margin-left:400px;
}

@media (min-width: 768px) and (max-width: 1199px) {
 main {
    width: 100%;
    float: left;
    margin: 0 1%;
}
aside {
    width: 50%;
    margin: 0 1%;
    float: left;
    padding-top: 1.5em;
}
	main img {
    float: left;
    max-width: 30%;
    padding-right: 5%;
    margin-bottom: 20px;
}
}

@media (min-width: 1200px) {

 main {
    width: 73%;
    float: left;
    margin: 0 1%;
}
aside {
    width: 23%;
    margin: 0 1%;
    float: left;
    padding-top: 1.5em;
}
	main img {
    float: left;
    max-width: 35%;
    padding-right: 5%;
    margin-bottom: 20px;
}
}

.hdq_result {
	text-align: center;
  margin-bottom: 20px;
}
.hdq_quiz h3 {
	margin-top: -5%;
	margin-bottom: -1%;
}
.hdq_quiz h2 {
	margin-top: -5%;
}
